/*addmethod*/
.services{
	background-color: orange;
}
.Lessons{
	background-color: pink;
}
.rates{
	background-color: gray;
}
.text{
	background-color: red;
}
.Sessions{
	background-color: green;
}
.pricing{
	background-color: yellow;
}
.Accompaniment{
	background-color: purple;
}
.fees{
	background-color: brown;
}
.Address{
	background-color: blue;
}

.title{
	text-align: center;
}

.img-container1{
	text-align: center;
}

.img-container2{
	text-align: left;
}

.img-container3{
	text-align: right;
}

.directory{
	text-align: center;
}
.Directory{
	text-align: center;
}